<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>

        <%- include('./partials/nav.ejs') %>
        
        <div class="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dignissimos voluptatum, earum commodi, minima omnis recusandae quisquam ex aspernatur tempora voluptate neque. Perspiciatis corrupti ducimus accusantium. Iusto amet aliquid debitis!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dignissimos voluptatum, earum commodi, minima omnis recusandae quisquam ex aspernatur tempora voluptate neque. Perspiciatis corrupti ducimus accusantium. Iusto amet aliquid debitis!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dignissimos voluptatum, earum commodi, minima omnis recusandae quisquam ex aspernatur tempora voluptate neque. Perspiciatis corrupti ducimus accusantium. Iusto amet aliquid debitis!</p>
            
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>